.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.posts {
  background-color: aliceblue;
}

.users {
  background-color: antiquewhite;
}

.comments {
  background-color: gainsboro;
}

