<div>Hi!</div>

<a routerLink="/">Hello Component(Default)</a>
<hr>
<a routerLink="/users">All-users Component</a>

<router-outlet></router-outlet>

<!--<div class="row">-->
<!--  <div class="column comments">-->
<!--    <app-comment *ngFor="let c of comments" [comment]="c"></app-comment>-->
<!--  </div>-->
<!--  <div class="column posts">-->
<!--    <app-post *ngFor="let p of posts" [post]="p"></app-post>-->
<!--  </div>-->
<!--  <div class="column users">-->
<!--    <app-user *ngFor="let u of users" [user]="u"></app-user>-->
<!--  </div>-->
<!--</div>-->


